body {
    background-color: #f2f7ff;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.img1 img {
    height: 260px;
    object-fit: cover;
}

.img2 img {
    margin: -80px auto 0;
    display: block;
    border-radius: 50%;
}

.main-text {
    padding-top: 20px;
}

.socials i {
    font-size: 26px;
    color: #22577a;
    transition: 0.3s;
}

.socials i:hover {
    color: #0d6efd;
    transform: scale(1.2);
}
